@media only screen and (min-width:320px) {
  .my-video-dimensions {
    /* width: 300px; */
    width: 100%;
    height: 200px;
  }

  .vjs-poster {
    background-size: cover !important;
  }

  .video-js .vjs-big-play-button {
    position: absolute;
    top: 40% !important;
    right: -13px !important;
    border-radius: 50% !important;
    background: rgba(252, 182, 64, 1) !important;
    border: none !important;
    left: unset !important;
    font-size: 3em !important;
    height: 1.5em !important;
    width: 1.5em !important;
    line-height: 1.5em !important;
  }

  .video-js .vjs-big-play-button:focus {
    outline: none;
  }
}



@media only screen and (min-width:700px) {
  .vjs-poster {
    background-size: cover !important;
  }

  .video-js .vjs-big-play-button {
    position: absolute;
    top: 40% !important;
    right: -28px !important;
    border-radius: 50% !important;
    background: rgba(252, 182, 64, 1) !important;
    border: none !important;
    left: unset !important;
    font-size: 3em !important;
    height: 2em !important;
    width: 2em !important;
    line-height: 1.9em !important;
  }

  .video-js .vjs-big-play-button:focus {
    outline: none;
  }

  .my-video-dimensions {
    width: 690px;
    height: 502px;
  }
}