::-webkit-scrollbar {
  display: none;
}

::-moz-scrollbar {
  display: none;
}

::-ms-overflow-style {
  display: none;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  background-image: -webkit-radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(252, 253, 255, 1) 22%, rgba(240, 247, 255, 1) 100%);
  background-image: -moz-radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(252, 253, 255, 1) 22%, rgba(240, 247, 255, 1) 100%);
  background-image: -o-radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(252, 253, 255, 1) 22%, rgba(240, 247, 255, 1) 100%);
  background-image: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(252, 253, 255, 1) 22%, rgba(240, 247, 255, 1) 100%);
  width: 100%;

}

.cover {
  width: 100%;
  overflow-x: hidden;
}

.navbar-home {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  align-items: center;
}

.codekago-logo {
  height: 40px;
  cursor: pointer;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 2;
}

._p {
  line-height: 18px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  text-transform: uppercase;
  font-family: 'Titillium';
  font-size: 0.8rem;
  font-weight: bold;
  color: rgba(85, 86, 85, 1);
}

nav {
  margin-bottom: 150px;
}

/* .menu {
  height: 38px;
  position: relative;
  top: -15px;
  cursor: pointer;
} */

.web-1 {
  background: url('/assets/solutions/web 1.svg') no-repeat;
  height: 500px;
  background-position: center;
  background-position-y: -1px;
}

.bg-cover {
  background: url('/assets/solutions/imacs clipped web.svg') no-repeat;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-position-y: -70px;
}

.liquid-1 {
  position: absolute;
  margin-top: 82px;
  margin-left: 163px;
}

.paper-1 {
  position: absolute;
  margin-top: 130px;
  margin-left: 180px;
}

.paper-2 {
  position: absolute;
  margin-top: 215px;
  margin-left: 186px;
}

.liquid-2 {
  position: absolute;
  margin-left: 147px;
  margin-top: 295px;
}

._hr {
  margin: 20px 0;
}

.folder-section {
  display: flex;
  justify-content: center;
}

.folder-1 {
  position: absolute;
  margin-top: 144px;
  margin-left: 15px;
  height: 57px;
}

.paper-3 {
  height: 38px;
  margin-top: 160px;
  margin-left: 128px;
  position: absolute;
}

.liquid-3 {
  position: absolute;
  right: 0;
  margin-top: 196px;
  margin-right: -40px;
}

.cube-1 {
  position: absolute;
  margin-left: 69px;
  margin-top: 150px;
  height: 40px;
}

h1 {
  font-family: 'Titillium';
  font-size: 58px;
  font-weight: bold;
  color: rgba(83, 100, 119, 1);
  text-align: center;
  line-height: 35px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.solutions-p {
  font-family: 'TitilliumL';
  font-size: 14px;
  font-weight: 600;
  color: rgba(132, 142, 154, 1);
  text-align: center;
  line-height: 20px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.web-first-message {
  max-width: 500px;
  margin: 0 auto;
}

.web-what-we-do {
  font-family: 'Titillium';
  font-size: 49px;
  font-weight: bold;
  color: rgba(83, 100, 119, 1);
  text-align: left;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  line-height: 70px;
}

.web-margin-top {
  margin-top: 8rem;
}

.web-design-icon {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin-top: 76px;

}

.circle-img {
  background: url('/assets/solutions/web back DESIGN.svg') no-repeat;
  background-size: contain;
  background-position: center;
  height: 310px;
}

.web-phone-design {
  background: url('/assets/solutions/phone DESIGN.svg') no-repeat;
  background-size: contain;
  background-position: left;
  height: 170px;
  margin-left: 83px;
  margin-top: 55px;
}

/* paper DIGI MARKETING.svg */
.web-phone-design-2 {
  background: url('/assets/solutions/paper DIGI MARKETING.svg') no-repeat;
  background-size: contain;
  background-position: left;
  height: 170px;
  margin-left: 23px;
  margin-top: 55px;
}

.web-left {
  text-align: left;
}

.web-profile {
  margin-top: 20px;
  margin-left: 20px;
}

.web-profile-1 {
  margin-top: -28px;
  margin-left: 20px;
}

.web-stack {
  height: 191px;
  margin-top: -70px;
}

.web-profile-details {
  max-width: 300px;
  margin: 20px auto;
}

li {
  font-family: 'TitilliumL';
  font-size: 14px;
  font-weight: 600;
  color: rgba(132, 142, 154, 1);
  text-align: left;
  line-height: 30px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.web-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.circle-img-2 {
  background: url('/assets/solutions/web BRANDING.svg') no-repeat;
  background-size: contain;
  background-position: center;
  height: 310px;
  /* display: flex;
  align-items: flex-end; */
}

.web-brand-design {
  background: url('/assets/solutions/design BRANDING.svg') no-repeat;
  background-size: contain;
  background-position: bottom;
  height: 170px;
  margin-left: 83px;
  margin-top: 55px;
}

.web-design-icon-2 {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin-top: 25px;
}

.circle-img-3 {
  background: url('/assets/solutions/web AUDIO VISUAL.svg') no-repeat;
  background-size: contain;
  background-position: center;
  height: 310px;
  /* display: flex;
  align-items: flex-end; */
}

.web-profile-2 {
  margin-top: 125px;
  margin-left: 102px;
  width: 44%;
}

a {
  text-decoration: none !important;
}

.fourth-div {
  height: 600px;
}

.second-bg {
  background-image: -webkit-linear-gradient(-52deg, rgba(0, 164, 189, 1) 0%, rgba(76, 192, 173, 1) 100%);
  background-image: -moz-linear-gradient(-52deg, rgba(0, 164, 189, 1) 0%, rgba(76, 192, 173, 1) 100%);
  background-image: -o-linear-gradient(-52deg, rgba(0, 164, 189, 1) 0%, rgba(76, 192, 173, 1) 100%);
  background-image: linear-gradient(-52deg, rgba(0, 164, 189, 1) 0%, rgba(76, 192, 173, 1) 100%);
  padding: 50px 0 200px;
}

.second-bg h1 {
  color: rgba(243, 249, 255, 1);
}

.second-sub {
  max-width: 900px;
  margin: 30px auto;
}

.second-sub p {
  color: white;

}

.course-card {
  width: 324px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  box-shadow: 0px 35px 40px 0px rgba(0, 0, 0, 0.04);
  margin: 0 auto;
  padding-bottom: 30px;

}

.course-card-bg {
  background: url('/assets/solutions/online banner.svg');
  background-size: cover;
  height: 80px;
}

.course-card-bg-2 {
  background: url('/assets/solutions/offline banner.svg');
  background-size: cover;
  height: 80px;
}

.course-card-body {
  width: 250px;
  margin: 0 auto;
  padding-top: 30px;
}

.course-card-body p {
  color: rgba(132, 142, 154, 1);
  text-align: left;
}

h2 {
  font-family: 'TitilliumL';
  font-size: 34px;
  font-weight: 300;
  color: rgba(83, 100, 119, 1);
  text-align: left;
  line-height: 40px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.check-box {
  height: 17px;
  width: 17px;
  background-color: rgba(132, 201, 143, 1);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-box i {
  color: white;
  font-size: 10px;
}

.course-card-body button {
  height: 38px;
  width: 189px;
  background-color: rgba(32, 165, 222, 1);
  border-radius: 19px;
  box-shadow: 0px 10px 20px 0px rgba(71, 194, 247, 0.36);
  font-family: 'TitilliumL';
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  margin: 0 auto;
  text-transform: uppercase;
  margin-top: 40px;
}

.solutions-hr {
  margin: 40px 0;
  position: relative;
  top: 25px;
  margin: 0 auto;
}

.course-card-body button:focus {
  outline: none;
}

.action {
  height: 32px;
  width: 32px;
  background-color: rgba(71, 194, 247, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  position: relative;
  left: 30px;
}

.action img {
  height: 16px;
}

.email-dialog input {
  width: 100%;
  border: none;
  background: transparent !important;
  border-bottom-color: #ced4da9e !important;
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
  outline: none !important;
  box-shadow: none !important;
  width: 100% !important;

  font-size: 1rem;
  border-radius: none;
  outline: none;
  border: none;
  font-family: 'TitilliumLt';
  color: rgba(132, 142, 154, 1);
  margin-top: 40px;
  padding-left: 10px;
}

input::placeholder {
  color: rgba(132, 142, 154, 0.21) !important;
}

.email-dialog button {
  height: 38px;
  width: 135px;
  border: 1px solid rgba(32, 165, 222, 1);
  border-radius: 19px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(32, 165, 222, 1);
  margin: 10px auto;
  background: white;
  font-family: 'TitilliumL';
  font-size: 14px;
  font-weight: bold;
  color: rgba(32, 165, 222, 1);
  box-shadow: 0px 10px 20px 0px rgba(71, 194, 247, 0.36);
}

.email-dialog button:focus {
  outline: none
}

input:focus {
  outline: none;

}

._action-2 {
  left: 25px;
}

.course-card-layout {
  max-width: 660px;
  margin: 100px auto 0;
}

.email-dialog {
  display: none;
}

.offline-book {
  background: url('/assets/solutions/offline book.svg') no-repeat;
  height: 50px;
  background-position: right;
}

.offline-pen {
  background: url('/assets/solutions/offline pen.svg') no-repeat;
  height: 60px;
  margin-top: -14px;
  margin-left: -12px;
}

.second-bg-small {
  background: url('/assets/solutions/trainings divider clipped.svg') no-repeat;
  height: 250px;
  background-size: contain;
  position: relative;
  top: -128px;
  margin-left: -20px;
}

.third-bg-small {
  background: rgba(72, 83, 96, 1);
  height: 800px;
}

.third-bg {
  max-width: 800px;
  margin: 0px auto 0;
}

.third-bg h1 {
  color: white;
  text-align: left;
  line-height: 60px;
}

.third-bg p {
  color: white;
  text-align: left;
  margin-top: 30px;
}

.third-bg button {
  height: 38px;
  width: 155px;
  border: 1px solid rgba(32, 165, 222, 1);
  border-radius: 19px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 30px 0;
  background: rgba(32, 165, 222, 1);
  font-family: 'TitilliumL';
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0px 10px 20px 0px rgba(71, 194, 247, 0.36);
  cursor: pointer;
  position: absolute;
  opacity: 1;
  z-index: 99;
}

.third-bg button:focus {
  outline: none;
}

._action-3 {
  left: 27px;
}

.dashed-bg {
  border-bottom: 2px dashed gray;
}

.digital-logo {
  margin-bottom: 20px;
  height: 40px;
}

.right-dashed {
  border-right: 2px dashed gray;
  padding-right: 20px;

}

.top-space {
  padding-top: 20px;
}

.star {
  background: url('/assets/solutions/star.svg') no-repeat;
  height: 60px;
  max-width: 300px;
  margin: 97px auto 0;
}

.cloud-1 {
  background: url('/assets/solutions/cloud 2.svg') no-repeat;
  height: 50px;
  margin-top: -50px;
  position: absolute;
  margin-left: 302px;

}

.cloud-4 {
  background: url('/assets/solutions/cloud 4.svg') no-repeat;
  height: 50px;
  position: absolute;
  margin-top: 46px;
  margin-left: -61px;

}

.cloud-base {
  background: url('/assets/solutions/cloud 1.svg') no-repeat;
  height: 59px;
  /* margin-top: -273px; */
  margin-top: -40px;
}

.cloud-shadow {
  background: url('/assets/solutions/cloud shadow.svg') no-repeat;
  height: 40px;
  margin-top: 20px;
  margin-left: 30px;
}

.space-ship {
  background: url('/assets/solutions/space ship.svg') no-repeat;
  height: 400px;
  position: relative;
  margin-top: -251px;
  background-position: right;
  margin-right: 400px;

  /* position: absolute; */
}

.behind-market {
  background: url('/assets/solutions/shape DIGI MARKETING.svg') no-repeat;
  height: 200px;
  background-position: center;
}

.behind-digit {
  background: url('/assets/solutions/back of design.svg') no-repeat;
  height: 200px;
  background-size: contain;
  position: relative;
  background-position-x: -29px;

}

.brand-icon {
  background: url('/assets/solutions/bean BRANDING.svg') no-repeat;
  height: 200px;
  background-size: cover;
  background-position: bottom;
}

.bg-cover-small {
  display: none;
}

.mobile-foot {
  background: url("/assets/footer 2 clipped.svg") no-repeat;
  height: 460px;
  background-size: cover;
  padding-top: 250px;
}

.mobile-text {
  font-family: 'Titillium';
  font-size: 2.5em;
  font-weight: bold;
  color: rgba(83, 100, 119, 1);
  text-align: left;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  margin-top: 30px;
}

.mobile-campaign-brief {
  font-family: 'TitilliumL';
  font-size: 1rem;
  font-weight: 300;
  color: rgba(132, 142, 154, 1);
  text-align: left;
  line-height: 2rem;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.mobile-input {
  position: relative;
  height: 38px;
  width: 284px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 19px;
  outline: none;
  border: none;
  font-family: 'TitilliumLt';
  padding-left: 20px;
  margin-top: 10px;
  padding-right: 60px;
  color: rgba(132, 142, 154, 1);
  outline: none;
}

input::placeholder {
  color: rgba(132, 142, 154, 0.21);
  opacity: 1;
}

.mobile-see-more {
  position: relative;
  height: 38px;
  width: 110px;
  background-color: rgba(32, 165, 222, 1);
  border-radius: 19px;
  box-shadow: 0px 10px 20px 0px rgba(71, 194, 247, 0.36);
  outline: none;
  text-transform: uppercase;
  color: white;
  font-size: .8rem;
  border: none;
  font-family: 'Titillium';
  text-align: left;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-left: -50px;
  background-image: none;
}

.mobile-see-more:focus {
  outline: none;
}

.mobile-arrow-head {
  height: 16px;
  position: relative;

}

.mobile-see-more-small {
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: rgba(71, 194, 247, 1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 11px;
}

.web-height {
  height: 150px;
}

.web-height-2 {
  height: 75px;
}

.footer {
  background-color: rgba(219, 236, 255, 1);
  width: 100%;
  position: relative;
  padding: 40px 100px;
}


.footer-display {
  justify-content: space-between;
  display: flex;
  margin: 0 auto;

}

.footer h1 {
  font-family: 'Titillium';
  font-size: 1rem;
  font-weight: bold;
  color: rgba(125, 135, 147, 1);
  margin-bottom: 11px;

}

.footer p {
  font-family: 'TitilliumLt';
  font-size: 1rem;
  font-weight: bold;
  color: rgba(125, 135, 147, 1);
  line-height: 1;
  text-decoration: none;
}

.footer a {
  text-decoration: none !important;
  color: transparent;
}

.icon-display {
  display: flex;
  align-items: flex-end;
}

.icon-display img {
  height: 20px;
  width: 20px;
  margin: 0 10px;
}

/* hr {

} */

.subscribe {
  display: flex;
  justify-content: space-between;
  top: 32px;
  position: relative;
  align-items: center;
  margin: 30px auto;

}

.subscribe button {
  height: 38px;
  width: 257px;
  border: 1px solid rgba(32, 165, 222, 1);
  border-radius: 19px;
  font-size: .7rem;
  font-family: 'Titillium';
  font-weight: bold;
  color: rgba(32, 165, 222, 1);
  text-align: left;
  padding-left: 30px;
  outline: none;
  background: transparent;
}

.subscribe button:focus {
  outline: none;
}

.subscribe div {
  position: absolute;
  right: 0.30%;
  top: 2.5px;
  height: 32px;
  width: 32px;
  border-radius: 100%;
  background-color: rgba(71, 194, 247, 1);
  cursor: pointer;
}

.see-more-2 {
  width: 120px;
  text-align: left;
  top: -38px;
  padding-left: 20px;
  left: 279px;
  font-family: 'TitilliumLt';
}

@media only screen and (min-width:700px) {
  .web-height {
    height: 126px;
  }

  .web-height-2 {
    height: 75px;
  }

  .cover {
    width: 100%;
    overflow-x: hidden;
  }

  .bg-cover {
    height: 600px;
  }

  h1 {
    font-size: 46px;
  }

 .solutions-p {
    font-size: 13px;
  }

  .web-what-we-do {
    font-size: 40px;
    line-height: 54px;
  }

  li {
    font-size: 13px;
  }

  .behind-digit img {
    height: 80px;
  }

  .web-phone-design {
    height: 120px;
    margin-left: 20px;
    margin-top: 109px;
  }

  .web-stack {
    height: 132px;
    margin-top: -70px;
  }

  .web-profile-details {
    max-width: 220px;
  }

  .behind-market img {
    height: 55px;
  }

  .web-phone-design-2 {
    height: 120px;
    margin-left: 15px;
    margin-top: 132px;
  }

  .brand-icon img {
    height: 80px;
  }

  .course-card-layout {
    max-width: 644px;
    margin-right: auto;
  }

  .third-bg {
    max-width: 646px;
  }

  .digital-logo {
    height: 28px;
  }

  .star {
    margin: 265px auto 0;
  }

  .cloud-1 {
    margin-left: 230px;
  }

  .cloud-4 {
    margin-left: -17px;
  }

  .cloud-base {
    margin-top: -193px;
  }

  .space-ship {
    margin-top: -229px;
    background-position: right;
    right: 170px;
    margin-right: 0;
  }

  .liquid-1 {
    position: absolute;
    margin-top: 82px;
    margin-left: calc(15% - -17px);
  }

  .paper-1 {
    margin-top: 152px;
    margin-left: 64px;
  }

  .paper-2 {
    margin-left: 5px;
  }

  .liquid-2 {
    margin-left: 0;
    margin-top: 279px;
  }

  .folder-1 {
    margin-top: 105px;
    margin-left: 57px;
  }

  .cube-1 {
    margin-left: 131px;
    margin-top: 108px;
  }

  .paper-3 {
    margin-top: 150px;
    margin-left: 126px;
  }

  .bg-cover-small {
    display: none;
  }

  .cover {
    width: 100vw;
    overflow-x: hidden;
  }

}

@-moz-document url-prefix() {
  @media only screen and (min-width: 700px) {

    .star {
      margin: 328px auto 0;
    }

    .cloud-base {
      margin-top: 0;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 699px) {
  .web-height {
    height: unset;
  }

  .web-height-2 {
    height: unset;
  }

  .bg-cover {
    display: block;
    height: 455px;
    background-position-y: -34px;
  }

  .liquid-1,
  .folder-1,
  .paper-1,
  .liquid-2,
  .cube-1,
  .paper-2,
  .paper-3,
  .liquid-3 {
    display: none;
  }

  h1 {
    font-size: 25px;
  }

  .web-1 {
    height: 250px;
    margin-bottom: 80px;
  }

  .web-margin-top {
    margin-top: 0;
  }

  .web-what-we-do {
    font-size: 25px;
    line-height: 32px;
  }

  .web-design-icon {
    justify-content: center;
    margin-top: unset;
  }

  .behind-digit {
    height: 125px;
    background-size: cover;
    background-position-x: -29px;
  }

  .behind-digit img,
  .behind-market img,
  .brand-icon img,
  .audiovisual img {
    height: 63px;
  }

  .mobile-space {
    margin-top: 3rem;
    height: 100px;
  }

  .circle-img {
    height: 220px;
  }

  .web-phone-design {
    height: 88px;
    margin-top: 22px;

  }

  .web-profile {
    height: 30px;
  }

  .web-stack {
    height: 120px;
    margin-top: -39px;
    margin-right: 30px;
  }

  .web-design-icon-2 {
    justify-content: center;
    margin-top: unset;
  }

  .web-profile-details {
    margin-left: 28px;
    margin-bottom: 3rem;
  }

  .web-phone-design-2 {
    height: 98px;
    margin-top: 88px;
  }

  .cover {
    overflow-x: hidden;
    width: 100vw;
  }

  body {
    width: 100vw;
    overflow-x: hidden;
  }

  .web-profile-1 {
    height: 226px;
    margin-top: 92px;

  }

  .mobile-xsd {
    margin-top: 2rem;
  }

  .mobile-center {
    text-align: center;
  }

  .fourth-div {
    height: 1200px;
  }

  .course-card {
    width: 293px;
    margin-bottom: 40px;
  }

  .second-bg-small {
    height: 149px;
    top: -67px;
  }

  .third-bg h1 {
    line-height: 34px;
  }

  .reverse-display {
    flex-direction: column-reverse;
  }

  .right-dashed {
    border-right: unset;
    padding-right: 20px;
  }

  .dashed-bg {
    border-bottom: unset;
  }

  .top-space {
    padding-top: unset;
  }

  .space-ship {
    height: 207px;
    position: relative;
    margin-top: -124px;
    background-position: center;
    background-size: contain;
    margin-right: unset;
    /* position: absolute; */
  }

  ._p {
    font-size: 0.6rem;
  }

  .menu {
    height: 30px;
  }

  .codekago-logo {
    height: 22px;
  }

  .third-bg {
    margin: -38px auto 0;
  }

  .third-bg-small {
    height: 1000px;
  }

  .cloud-1 {
    margin-left: 0;
    background-position: right;
    margin-top: -205px;
  }

  .star {
    margin: 469px auto 0;
    background-position: top;
  }

  .cloud-base {
    margin-top: -192px;
    position: absolute;
    background-size: contain;
    height: 57px;
  }

  .cloud-4 {
    margin-left: 0;
  }

  .mobile-foot {
    background: url("/assets/footer clipped mobie.svg") no-repeat;
    height: 440px;
    background-size: cover;
    padding-top: 215px;
  }

  .mobile-text {
    font-family: 'Titillium';
    font-size: 1.5em;
    font-weight: bold;
    color: rgba(83, 100, 119, 1);
    text-align: left;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    margin-top: 30px;
  }

  .mobile-campaign-brief {
    font-family: 'TitilliumL';
    font-size: .8rem;
    font-weight: 300;
    color: rgba(132, 142, 154, 1);
    text-align: left;
    line-height: 2rem;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .mobile-input {
    position: relative;
    height: 38px;
    width: 284px;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 19px;
    outline: none;
    border: none;
    font-family: 'TitilliumLt';
    padding-left: 20px;
    margin-top: 10px;
    padding-right: 60px;
    color: rgba(132, 142, 154, 1);
    outline: none;
  }

  input::placeholder {
    color: rgba(132, 142, 154, 0.21);
    opacity: 1;
  }

  .mobile-see-more {
    position: relative;
    height: 38px;
    width: 110px;
    background-color: rgba(32, 165, 222, 1);
    border-radius: 19px;
    box-shadow: 0px 10px 20px 0px rgba(71, 194, 247, 0.36);
    outline: none;
    text-transform: uppercase;
    color: white;
    font-size: .8rem;
    border: none;
    font-family: 'Titillium';
    text-align: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-left: -50px;
    background-image: none;
  }

  .mobile-see-more:focus {
    outline: none;
  }

  .mobile-arrow-head {
    height: 16px;
    position: relative;

  }

  .mobile-see-more-small {
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: rgba(71, 194, 247, 1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 6px;
  }

  .footer {
    padding: 40px 0;
  }

  .footer-display {
    flex-wrap: wrap;
  }

  .footer p {
    font-size: .9rem;
  }

  .subscribe {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: unset;

  }

  .subscribe button {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  .subscribe div {
    position: relative;
    right: 0;
    top: 0;
    left: 26px;
  }

  .subscribe p {
    text-align: left;
  }

  .icon-display {
    margin-top: 20px;
  }

  @-moz-document url-prefix() {
    .mobile-see-more-small {
      left: 9px;
    }

    .star {
      margin: 575px auto 0;
    }

    .cloud-base {
      margin-top: -309px;
    }
  }
}

@media only screen and (min-width:1440px) {
  /* .web-1 {
    /* height: 800px; 
  } */

  /* .bg-cover {
    background-size: cover;
    background-position-y: 0;
  } */
}